<div class="flex justify-center items-center w-full">
  <img src="Images/news.png" alt="Centered Overlay" class="w-40 h-auto" />
</div>
<div class="relative bg-white m-5">
  <div
    class="flex flex-wrap justify-center items-center gap-8 bg-gradient-to-l from-green-200 to-gray-400 p-5"
  >
    <div
      *ngFor="let news of newsList"
      class="relative w-96 h-96 rounded-full flex flex-col overflow-hidden shadow-md animate-wiggle group bg-gray-200"
    >
      <!-- Image in the top half -->
      <div class="h-1/2 w-full">
        <img
          *ngIf="news.image"
          [src]="news.image"
          [alt]="news.title"
          class="h-full w-full object-cover transition-transform duration-500 group-hover:scale-150 group-hover:translate-y-1/4"
        />
      </div>

      <!-- Text in the bottom half -->
      <div class="h-1/2 flex flex-col justify-center items-center">
        <h3
          class="mx-4 text-black text-center text-3xl text-transparent animate-gradient-x p-5"
        >
          <a [routerLink]="['/news', news.id]" class="hover:underline">
            {{ news.title }}
          </a>
        </h3>
        <p class="text-xs text-gray-500 text-center">
          {{ news.place }} | {{ news.eventDate | date : "mediumDate" }}
        </p>
        <p class="text-xs text-gray-500 text-center">
          {{ news.shortInfo }}
        </p>

        <p class="text-xs text-gray-500 text-center">
          {{ news.details }}
        </p>
        <p class="text-xs text-gray-500 text-center">
          {{ news.link }}
        </p>
        <button
          [routerLink]="['/news', news.id]"
          class="mt-2 px-2 py-2 bg-slate-300 text-black rounded-full hover:bg-green-200 transition-colors duration-300"
        >
          Details
        </button>
      </div>
    </div>
  </div>
</div>
