<app-hero></app-hero>
<div class="container mx-auto px-2 py-8">
  <div class="relative">
    <!-- Large Background Text -->
    <div class="mb-0 flex justify-center items-center">
      <h2
        class="text-[12vw] font-black text-purple-300/15 leading-[0.9] select-none translate-y-8"
      >
        NEWS
      </h2>
    </div>

    <!-- News Grid -->
    <div
      class="relative -mt-16 z-10 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8"
    >
      <div
        *ngFor="let news of newsList"
        class="bg-pink-200/50 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 transform hover:-translate-y-1 hover:scale-102"
      >
        <!-- Image container -->
        <div class="aspect-video w-full overflow-hidden rounded-t-lg">
          <img
            *ngIf="news.image"
            [src]="news.image"
            [alt]="news.title"
            class="w-full h-full object-cover"
          />
        </div>

        <!-- Content container -->
        <div class="p-8">
          <h3 class="text-2xl font-bold mb-3 text-purple-600">
            <a [routerLink]="['/news', news.id]" class="hover:text-purple-600">
              {{ news.title }}
            </a>
          </h3>

          <div class="text-sm text-white mb-4 font-semibold">
            {{ news.place }} | {{ news.eventDate | date : "mediumDate" }}
          </div>

          <p class="text-white mb-6 text-lg">
            {{ news.shortInfo }}
          </p>

          <a
            [routerLink]="['/news', news.id]"
            class="inline-block px-6 py-3 text-lg bg-purple-400 text-white rounded-md hover:bg-purple-600 transition-colors duration-300 shadow-md hover:shadow-lg"
          >
            Details
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-retrospect></app-retrospect>
