<app-about-header></app-about-header>

<div class="relative min-h-screen py-16 overflow-hidden">
  <div class="mb-0 flex justify-center items-center">
    <h2
      class="text-[12vw] font-black text-purple-300/15 leading-[0.4] select-none translate-y-0 sm:translate-y-8"
    >
      ABOUT
    </h2>
  </div>
  <div class="space-y-12 px-4 md:px-10 max-w-6xl mx-auto">
    <div

    >
    <p class="text-pink-300/95 leading-relaxed text-lg md:text-xl lg:text-2xl">
      <span class="font-medium text-purple-300">Das Goldene Buch</span> ist eine feministische Initiative,
        gegründet 2022 mit unserem ersten Projekt, Befreiende Evas. Diese
        Initiative, bei der Frauen ihre Geschichten durch künstlerische Mittel
        zum Ausdruck bringen, debütierte 2022 beim Wienwoche Festival und setzte
        ihre Reise 2023 mit Unterstützung des SHIFT, Basis Kultur Wien fort. Das
        Goldene Buch möchte Kunst in eine Praxis der Solidarität und
        Ermächtigung verwandeln, indem feministische Zine-Workshops für Frauen
        organisiert werden.
      </p>
    </div>

    <div
    >
    <p class="text-pink-300/95 leading-relaxed text-lg md:text-xl lg:text-2xl">
        Für unsere erste Edition organisierten wir vier kreative Workshops mit
        fünfzig Frauen verschiedener sozialer Identitäten und Altersgruppen.
        Jeder Workshop, geleitet von einer Kursleiterin, führte einzigartige
        Methoden ein wie Stickerei, Collage, Zeichnen, Drucktechniken und die
        Wort-Collage-Techniken der Schriftstellerin Herta Müller. Die in diesen
        Workshops entstandenen Werke wurden im feministischen Fanzine Das
        Goldene Buch veröffentlicht und symbolisieren die kollektive Kreativität
        und den Widerstand der Frauen*.
      </p>
    </div>

    <div
    >
      <h2 class="text-3xl text-purple-300 font-semibold mb-6 tracking-wide">
        Looking to the Future, Inspired by the Past
      </h2>
      <p class="text-pink-300/95 leading-relaxed text-lg md:text-xl lg:text-2xl">
        In 2025, our initiative will continue with a new project called
        <span class="font-medium text-purple-300">"Women's Matinee."</span>
        This project aims to rediscover forms of collective togetherness of
        women* and explore new ways of feminist solidarity.
      </p>
    </div>

    <div class="text-center mx-auto max-w-4xl px-4 md:px-6 lg:px-8">
      <p
        class="text-3xl md:text-5xl lg:text-6xl mt-12 md:mt-24 lg:mt-36 text-purple-300 font-semibold tracking-wide transform hover:scale-105 transition-transform duration-300 mb-8 md:mb-12"
      >
        Join us on this journey and let's build a collective future together!
      </p>

      <p
        class="text-white/90 italic text-xs md:text-sm backdrop-blur-sm bg-purple-400/40 p-3 md:p-4 rounded-lg inline-block mx-4 md:mx-0"
      >
        *Das Goldene Buch initiative is operated by the art and cultural
        association
        <a
          href="https://fabrikraum.org"
          class="underline hover:text-purple-200 transition-colors"
          target="_blank"
          rel="noopener noreferrer"
        >
          Fabrikraum </a
        >.
      </p>
    </div>
  </div>
</div>
