<div class="flex justify-center items-center w-full">
  <img src="Images/projects.png" alt="Centered Overlay" class="w-40 h-auto" />
</div>
<div
  class="flex items-center justify-center bg-gradient-to-r from-green-200 to-gray-400 m-5 p-5"
>
  <div class="relative w-96 h-96 rounded-full overflow-hidden spin">
    <div class="flex w-full h-full">
      <!-- Linkes Bild -->
      <div class="w-1/2 h-full overflow-hidden relative group">
        <img
          src="Images/golden_book_web_low-ALpXj7a79GUbk4XX.png"
          alt="Linkes Bild"
          class="w-full h-full object-cover"
        />
        <div
          class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity flex items-center justify-center"
        >
          <p class="text-white text-xl">Goldenes Buch</p>
        </div>
      </div>
      <!-- Rechtes Bild -->
      <div class="w-1/2 h-full overflow-hidden relative group">
        <img
          src="Images/matinee.webp"
          alt="Rechtes Bild"
          class="w-full h-full object-cover"
        />
        <div
          class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity flex items-center justify-center"
        >
          <p class="text-white text-xl">Matinee</p>
        </div>
      </div>
    </div>
  </div>
</div>
