.pause {
  animation-play-state: paused;
}

.spin {
  animation: spin 28s linear infinite;
}

.spin:hover {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
