<div class="flex flex-wrap justify-between p-5">
  <div class="flex-1 min-w-[300px] m-2">
    <h2 class="text-xl font-bold">Contact</h2>
    <p>Would you like to learn more about our events, open calls, and workshops?</p>
    <p>Are you interested in collaborating or becoming a partner? Do you have ideas, feedback, or impressions to share?</p>
    <p>Feel free to email us at <a href="mailto:info@dasgoldenebuch.org" class="text-blue-500">info&#64;dasgoldenebuch.org</a></p>
    <p>Just want to stay in touch? Subscribe to our newsletter to stay up to date!</p>
    <p>If you'd like to promote our activities, you can find our press kit <a href="#" class="text-blue-500">here</a>.</p>
  </div>
  <div class="flex flex-col items-center flex-1 min-w-[300px] m-2">
    <img src="facebook-icon.png" alt="Facebook" class="w-10 h-10 m-1">
    <img src="music-icon.png" alt="Music" class="w-10 h-10 m-1">
    <img src="youtube-icon.png" alt="YouTube" class="w-10 h-10 m-1">
    <p class="mt-2">Press Kit</p>
    <img src="camera-icon.png" alt="Camera" class="w-10 h-10 m-1">
  </div>
  <div class="flex-1 min-w-[300px] m-2">
    <p>Das Goldene Buch is operated by Fabrikraum Kultur und Kunstverein</p>
    <p>Fabrikraum Kultur- & Kunstverein</p>
    <p><a href="http://www.fabrikraum.org" class="text-blue-500">www.fabrikraum.org</a></p>
    <p>Johnstraße 25-27, 1150 Wien</p>
    <p><a href="mailto:hello&#64;fabrikraum.org" class="text-blue-500">hello&#64;fabrikraum.org</a></p>
    <p>ZVR- Zahl: 1405956277</p>
  </div>
</div>
