<div class="relative min-h-6 flex items-center py-10 overflow-hidden">
  <!-- Decorative background elements -->
  <div
    class="absolute inset-0 bg-gradient-to-b from-pink-200 to-transparent"
  ></div>

  <!-- Floating shapes -->
  <div
    class="absolute w-64 h-64 bg-purple-200/20 rounded-full blur-3xl -left-20 animate-blob"
  ></div>
  <div
    class="absolute w-72 h-72 bg-red-200/20 rounded-full blur-3xl -right-20 animate-blob animation-delay-2000"
  ></div>

  <div class="relative w-full max-w-7xl mx-auto px-4 sm:px-6 z-10">
    <!-- Header Section -->
    <div class="text-center mb-12 sm:mb-24">
      <h1
      class="text-6xl md:text-7xl lg:text-[8    rem] font-bold text-purple-400 scroll-animate scroll-fade-left leading-none mb-8"
    >
        A Space for Solidarity and Empowerment through Art for Women*
      </h1>
    </div>
  </div>
</div>
