<app-mission-header></app-mission-header>

<div class="relative min-h-screen py-16 overflow-hidden">
  <div class="mb-0 flex justify-center items-center">
    <h2
      class="text-[12vw] font-black text-purple-300/15 leading-[0.4] select-none translate-y-0 sm:translate-y-8"
    >
      MISSION
    </h2>
  </div>
  <div class="space-y-12 px-4 md:px-10 max-w-6xl mx-auto">
    <div
    
    >
      <article class="space-y-8">
          <p class="text-pink-300/95 leading-relaxed text-lg md:text-xl lg:text-2xl ">
          <span class="font-bold text-purple-300">Das Goldene Buch</span>
          is a feminist initiative that provides a platform for women* who have
          never had the opportunity to connect with art, enabling them to tell
          their own stories, express themselves freely, and unlock their
          creative potential. As a space for creative liberation, DGB is not
          only an artistic production but also part of a broader movement for
          social solidarity and change. In addition to workshops, various events
          such as poetry readings, concerts, and performances bring women*
          together to create a collective space for production and sharing. One
          of the main goals of our initiative is to establish DGB as a regularly
          published independent publication, amplifying women*’s voices and
          reaching a wider audience.
        </p>

        <p class="text-pink-300/95 leading-relaxed text-lg md:text-xl lg:text-2xl ">
          This project aims to provide a space for migrant women*, who are often
          rendered invisible in the face of social, cultural, and economic
          challenges, to share their stories, express themselves, and connect
          meaningfully with other communities. In this project, migrant women*
          who face language barriers, gender-based restrictions, bureaucratic
          obstacles, legal insecurity, and economic difficulties in their daily
          lives are empowered by coming together in a network of solidarity and
          trust. The project not only offers a space for individual expression
          and creative freedom, but also creates bonds between women* across
          borders. This platform, where migrant and non-migrant women* meet in a
          supportive community, provides a strong foundation for building a
          collective sense of solidarity. Workshops, events, and creative
          production processes not only allow women* to explore their artistic
          potential but also enable women* from different backgrounds to learn
          from each other's experiences and be mutually inspired. This platform
          is not only a safe space but also a laboratory where women* discover
          their potential and find the courage to reshape social structures. It
          provides a space to make their voices heard and supports them to be
          part of a movement that empowers them economically, socially, and
          politically. Crossing borders, questioning norms, and strengthening
          solidarity, this feminist space invites us to sow the seeds of a more
          egalitarian future together.
        </p>
      </article>
    </div>
  </div>
</div>
